body{
	width:100%;
}

header{
	z-index:10;
	background-color: rgba(0,0,0,0.7);
	font-family: 'Homemade Apple', cursive;
}

.header-logo{
	transform: rotate(-10deg);
	color:white;
}

.navbar-custom{
	color:#ffffff;
}

/*-----------------------------------------------*/

.active{
	display:none;
}

/*-----------------------------------------------*/

.main{
	font-family: 'Homemade Apple', cursive;
	background-image:url(image/hitchhiking.jpg);
	background-size:cover;
	background-position:bottom;
	height:600px;
}

.family{
	font-family: 'Homemade Apple', cursive;
}

.text-size{
	font-size:20px;
}

.main-text1{
	opacity: 0;
	transition: 1.0s;
	position:relative;
	top: 60px;
	transform: rotate(-5deg);
}

.main-text2{
  opacity: 0;
  transition: 3.0s;
  position:relative;
  top: 60px;
}

.main-text3{
  opacity: 0;
  transition: 4.0s;
  position:relative;
  top: 60px;
}

.main-tx{
  opacity: 1;
  position:relative;
  top: 0;
}

/*-----------------------------------------------*/

.skills{
	background-color:#EEEEEE;
	background-size: cover;
}

.about img{
	width:100%;
}

.text-size{
	line-height:50px;
	opacity:0.8;
}

.skills-img1{
	position:relative;
}

.skills-row{
	margin:120px 0 80px; 
}

.skills-img1::before{
	background:url(image/html5.png);
	background-size: cover;
	position:absolute;
	bottom:40px;
	left:45px;
	content: "";
	display:inline-block;
	box-sizing: border-box;
	width:60px;
	height:60px;
	margin:0 auto;
}

.skills-img2{
	position:relative;
}

.skills-img2::before{
	background-image:url(image/css.png);
	position:absolute;
	bottom:40px;
	left:52px;
	background-size: cover;
	content: "";
	display:inline-block;
	width:60px;
	height:60px;
	margin:0 auto;
}

.skills-img3{
	position:relative;
}

.skills-img3::before{
	background-image:url(image/js.png);
	position:absolute;
	bottom:40px;
	left:52px;
	background-size: cover;
	content: "";
	display:inline-block;
	width:60px;
	height:60px;
	margin:0 auto;
}

.skills-img4{
	position:relative;
}

.skills-img4::before{
	background-image:url(image/JQuery.png);
	background-size: cover;
	position:absolute;
	bottom:40px;
	left:56px;
	content: "";
	display:inline-block;
	width:120px;
	height:60px;
	margin:0 auto;
}

.skills-img5{
	position:relative;
}

.skills-img5::before{
	background-image:url(image/bootstrap.png);
	position:absolute;
	bottom:40px;
	left:54px;
	background-size: cover;
	content: "";
	display:inline-block;
	width:60px;
	height:60px;
	margin:0 auto;
}

/*-----------------------------------------------*/

.portfolio-img{
	background-size: cover;
	width:100%;
	height:100%;
}

.inner{
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.inner h3{
	font-size:25px;
}

.portfolio-col{
	position:relative;
	border:solid 3px #DDDDDD;
}


.caption{
	width:100%;
	height:100%;
	position:absolute;
	top:0%;
	bottom:0%;
	opacity:0;	/* 表示させない */
	background-color:rgba(0,0,0,0.7);
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-transition:all 0.6s ease;/*all と　easeは初期値*/
	transition:0.6s;
}
.portfolio-col:hover .caption{
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
	opacity:1;	/* ホバーで表示する */
	cursor: pointer;
}

/*-----------------------------------------------*/


.card1{
	background-image:url(image/portfolio.cando.jpg);
	background-size: 200%;
	background-position:center;
}

.card2{
	background-image:url(image/portfolio.cando.jpg);
	background-size: 210%;
	background-position:center;
}

/*-----------------------------------------------*/

.contact{
	width:100%;
}

.contact-form{
	background-image:url(image/portfolio.ukulele.jpg);
	background-size: cover;
	background-position: right;
}

.contact-form p{
	background-color:rgba(0,0,0,0.4);
	border-radius:30px;
}

.contact input,
.contact textarea{
	height:50px;
	border-radius: 5px;
	margin-bottom: 30px;
	padding:10px;
	width:80%;
}

.contact textarea{
	height:100px;
	height:130px;
} 

#form-btn{
	padding:10px 80px;
	border-radius: 50px;
	height:50px;
	font-weight:300;
	font-size:22px;
	background-color: #222222;
	color:#fff;
	width:60%;
}

#form-btn:hover{
	cursor:pointer;
	background-color: #77F9C3;
	transform:scale(1.02);
	transition:0.7s;
}

.form-b{
	width:102.5%;
}

/*-----------------------------------------------*/

footer{
	background-color: #EEEEEE;
}

.footer-icons{
	text-align:center;
}

footer p{
	opacity:0.7;
}

.footer-icon{
	display:inline-block;
	width:70px;
	height:70px;
	border-radius:50%;
	background-color:#222222;
	position: relative;
}

.footer-icon i{
	color:white;
	font-size:30px;
}

.footer-icon:hover{
	cursor:pointer;
	background-color: #77F9C3;
	transform:scale(1.1);
	transition:0.7s;
}

.footer-icon a{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.footer-twitter{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}





