.c-footer__copyright {
  display: block;
  margin-bottom: 10px;
  padding-top: 30px;
  font-size: $fontLetterSmall;
  white-space: nowrap; // 文字おりかえさない
}

.c-footer__contact {
  display: flex;
  justify-content: center;

}

.c-footer__contactList {
  &:not(:last-child){
    margin-right: 10px;
  }
}

// hover テキスト
.c-footer__contact__hoverText {
  position: relative;
  top: 7px;
  display: none;
}

.c-footer__contactList i {
  @include center_of_vertically_and_horizontally;

  color: $colorWhite;
  font-size: 30px;
}

.c-footer__contact__hoverIcon {
  @include center_of_vertically_and_horizontally;

  font-size: 20px;
  color: $colorWhite;
}

.c-footer__contactLink {
  width: 70px;
	height: 70px;
	border-radius: 50%;
  background-color: $colorDarkBlack;
  position: relative;

  &:hover {
    background-color: $colorIconHover;
    transform: scale(1.1);
    transition: 0.7s;
    color: $colorDarkBlack;

    i {
      color: $colorDarkBlack;
    }

    .c-footer__contact__hoverText {
      display: block;
    }
  }
}