/* -------------------------------------------------
  .c-header
---------------------------------------------------- */

.c-header__title {
  transform: rotate(-10deg);

  &:hover {
    transform: rotate(0deg);
    transition: transform 1s;
  }
}

.c-header__nav {
  display: flex;

  @include mq(u-sp) {
    transform: translateX(100vw);
    transition: all .3s linear;

    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient($colorWhite, $colorLightGreen);
    color: $colorDarkBlack;
    width: 50%;
    height: 100vh;
    font-size: $fontSemiTitle;
  }
}

.fa-bars {
  display: none;

  @include mq(u-sp) {
    display: block;
    font-size: 35px;
    z-index: 2;
  }
}

// ハンバーガーメニュー：トグル用クラス
.c-header__is-active {
  @include mq(u-sp) {
    transform: translateX(0);
  }
}

.c-header__link--intro,
.c-header__link--career,
.c-header__link--skills,
.c-header__link--production,
// .c-header__link--others,
.c-header__link--canDo {
  margin-right: 20px;

  @include mq(u-sp) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.c-header__link--intro,
.c-header__link--career,
.c-header__link--skills,
.c-header__link--production,
// .c-header__link--others,
.c-header__link--canDo,
.c-header__link--contact {
   &:hover {
    transform: scale(1.2);
    transition: transform 1s;
    color: $colorLightGreen;
  }
}