/* -------------------------------------------------
  .l-header
---------------------------------------------------- */

.l-header {
  font-family: 'Homemade Apple', cursive;
  background-color: $colorLightBlack;
  color: $colorWhite;
  font-size: $fontLetterMiddle;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
}