/* -------------------------------------------------
  .l-top
---------------------------------------------------- */

.l-top-siteImage {
  font-family: 'Homemade Apple', cursive;
  background-image: url('#{$bgPath}hitch_hiking.jpg');
  background-size: cover;
  background-position: 100% 100%;
  background-attachment: fixed; // 背景画像固定
  height: 100vh;
}

/* .l-top-intro */
.l-top-intro__container {
  @include container(50px, $widthMainContainer);
}

/* .l-top-skills */
.l-top-skills {
  background-color: $colorBgGray;
}

.l-top-skills__container {
  @include container(50px, $widthMainContainer);
}

/* .l-top-production */

.l-top-production {
  position: relative;
}

.l-top-production__container {
  @include container(50px, $widthMainContainer);
}

.l-top-production__detail {
  display: none;
  position: fixed; // 背景画像黒：スクロールについてくるように
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $colorSuperLightBlack;
}

/* .l-top-canDo */
.l-top-canDo {
  background-color: $colorBgGray;
}

.l-top-canDo__container {
  @include container(50px, $widthMainContainer);
}

/* .l-top-contact */
.l-top-contact {
  background-image: url("#{$bgPath}bg_ukulele.jpg");
  background-size: cover;
}

.l-top-contact__container {
  @include container(50px, $widthMainContainer);
}