/* -------------------------------------------------
  .p-top
---------------------------------------------------- */

/*
  @mixin & @keyframes
---------------------------------------------------- */

@mixin siteImageText($space) {
  font-size: $fontTitleLarge;
  letter-spacing: $space;
  overflow: hidden;

  @include mq(u-pc) {
    font-size: $fontSectionTitle;
  }

  @include mq(u-sp) {
    font-size: $fontMiddleTitle;
  }
}

@mixin section_title_pseudo_ele {
  content: '';
  height: 100%;
  width: 0;
  bottom: 0;
  transition: all 0.5s ease;
  border-top: solid 2px $colorLightGreen;
  border-bottom: solid 2px $colorLightGreen;
  position: absolute;
}

@mixin section_title_word {
  opacity: 0;
  display: inline-block; // spanタグ(インライン要素)→移動できないため、ブロック要素に。
  background: linear-gradient(transparent 60%, $colorLightGreen); // 線形グラデーション：上60%透明,その他緑
}

@mixin section_title {
  font-family: 'Homemade Apple', cursive;
  font-size: $fontSectionTitle;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  &:before {
    @include section_title_pseudo_ele;
    left: 50%;
  }

  &:after {
    @include section_title_pseudo_ele;
    right: 50%;
  }

  @include mq(u-sp) { font-size: $fontSemiTitle; }
}

@mixin section_text {
  text-align: center;
  font-size: $fontLetterMiddle;
  margin-bottom: 30px;
}

@keyframes slideInToSide {
  0% { transform: translateX(-100px); }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@mixin siteImageNameAnim($time) {
  animation: slideInToSide 0.5s forwards;
  animation-delay: $time;
}

//　テキスト「下」へアニメーション
@keyframes slideInToDown {
  0% { transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideInToDown {
  animation: slideInToDown 1.5s forwards;
}

//　テキスト「上」へアニメーション
@keyframes slideInToUp {
  0% { transform: translateY(100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideInToUp {
  animation: slideInToUp 1.5s forwards;
}

// 跳ねるようなアクション
@keyframes boundWord {
  0%{ transform: translateY(-400px); }

  20% { transform: rotate(0deg); }

  40%{ transform: rotate(-8deg); }

  60% { transform: rotate(0deg); }

  100% {
    opacity: 1;
    transform: rotate(-3deg);
  }
}

@mixin boundWordAnim($time) {
  animation: boundWord 1.5s forwards;
  animation-delay: $time;
}

/*
  .p-top-siteImage
---------------------------------------------------- */

.p-top-siteImage__textArea {
  @include center_of_vertically_and_horizontally;

  text-align: center;
  color: $colorWhite;
}

.p-top-siteImage__title {
  @include siteImageText(0);
}

.p-top-siteImage__titleWord {
  @include boundWordAnim(1.0s);
  opacity: 0;
  display: inline-block; // spanタグ(インライン要素)→移動できないため、ブロック要素に。
  transform-origin:left bottom; // 回転軸の場所
}

.p-top-siteImage__name {
  @include siteImageText(-5px);
}

.p-top-siteImage__nameWord {
  display: inline-block; // spanタグ(インライン要素)→移動できないため、ブロック要素に。
  opacity: 0;

  // 名前：テキストフェードイン
  $times: 0.1s, 0.2s ,0.3s, 0.4s, 0.5s, 0.6s, 0.7s, 0.8s, 0.9s;
  @each $time in $times {
    $index: index($times, $time); // $timesのindex番号取得

    &:nth-child(#{$index}) { @include siteImageNameAnim(#{$time}); }
  }
}

/*
  .p-top-intro
---------------------------------------------------- */

.p-top-intro__title {
  @include section_title;
}

.p-top-intro__titleWord {
  @include section_title_word;
}

.p-top-intro__info {
  display: flex;
  justify-content: space-between;

  @include mq(u-sp) {
    flex-direction: column;
    align-items: center;
  }
}

.p-top-intro__infoImg {
  width: 35%;
  height: 35%;
  border-radius: 50%;
  box-shadow: 0 0 0 10px $colorLightGreen;

  @include mq(u-sp) {
    margin-bottom: 30px;
  }
}

.p-top-intro__infoDetail {
  text-align: center;
  width: 50%;

  @include mq(u-sp) {
    width: 100%;
  }
}

.p-top-intro__infoName {
  font-size: $fontSemiTitle;
  margin-bottom: 20px;

  @include mq(u-sp) {
    font-size: $fontLetterMiddle;
  }
}

.p-top-intro__infoTextBlock {
  font-size: $fontLetterMiddle;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  text-align: left;

  @include mq(u-sp) {
    font-size: $fontLetterSmall;
  }
}

.p-top-intro__infoText__peroid {
  margin-right: 30px;
}

.p-top-intro__infoText__arrow {
  font-size: $fontLetterMiddle;
  margin-bottom: 10px;
  display: block;

  @include mq(u-sp) {
    font-size: $fontLetterSmall;
  }

  &:last-child {
    display: none;
  }
}

/*
  .p-top-skills
---------------------------------------------------- */

.p-top-skills__title {
  @include section_title;
}

.p-top-skills__titleWord {
  @include section_title_word;
}

.p-top-skills__text {
  @include section_text;
}

.p-top-skills__detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}

.p-top-skills__detailList {
  margin: 0 auto; // レスポンシブ用

  &:last-child {
    @include mq(skills-pc) {
      margin-top: 100px;
    }
  }

  @include mq(skills-sp) {
    width: 100%; // 中央揃えにするため

    &:nth-child(2) {
      margin-top: 100px;
    }
  }

  @mixin fontAwesomeArrow($number, $color) {
    @include font_awesome_pseudo_ele($number);
    @include centered_vertically;

    color: $color;
    position: absolute;
  }

  // detailList__titleのnth-childまとめ
  $colors: #6495ed, #eb8686, #8cd790;
  @each $color in $colors {
    $index: index($colors, $color);

    &:nth-child(#{$index}) > .p-top-skills__detailList__title { // liの孫要素なのでこの記述
      &:before {
        @include fontAwesomeArrow('\f101', $color);

        left: 50px;
      }

      &:after {
        @include fontAwesomeArrow('\f100', $color);

        right: 50px;
      }
    }
  }
}

.p-top-skills__detailList__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  overflow: hidden; // 下からスライドしてくる画像を隠す

  &:last-child {
    margin-bottom: 0;
  }
}

.p-top-skills__detailList__title {
  font-size: $fontSemiTitle;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.p-top-skills__detailList__itemUnit {
  width: 30%; // 言語タイトル中央揃えのためにwidthを与える
  text-align: center;
  margin-right: 20px;
  opacity: 0;
}

.p-top-skills__detailList__itemImg {
  width: 50px;
  height: 50px;
  object-fit: contain; // 画像比率保つ
  margin-bottom: 5px;
}

.p-top-skills__detailList__itemLang {
  font-size: $fontLetterVerySmall;
}

.p-top-skills__detailList__itemGraph {
  width: 250px;
  height: 25px;
  border-radius: 20px;
  border: $colorBdBlack;
}

@mixin p-top-skills__detailList__itemGraph__extend {
  height: 100%;
  border-radius: 20px;
  width: 0%;
  transition: 1.5s ease;
  position: relative;

    &:after {
    @include center_of_vertically_and_horizontally;

    content: attr(data-extend); // 棒グラフに記載する、dataの所得
    font-size: $fontLetterVerySmall;
    color: $colorBlack;
  }
}

// 棒グラフ
@mixin extendItemGraph($deepColor, $lightColor) {
  @include p-top-skills__detailList__itemGraph__extend;

  background: linear-gradient(to bottom, $deepColor, $lightColor);
}

.p-top-skills__detailList__itemGraph__extend--front {
  @include extendItemGraph(#6495ed, #abcae8);
}

.p-top-skills__detailList__itemGraph__extend--back {
  @include extendItemGraph(#eb8686, #fc9d9d);
}

.p-top-skills__detailList__itemGraph__extend--tools {
  @include extendItemGraph(#8cd790, #c5e99b);
}

.p-top-skills__explain {
  font-size: $fontLetterSmall;
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;

  @include mq(skills-pc) {
    width: 60%;
  }

  @include mq(skills-sp) {
    width: 80%;
  }
}

.p-top-skills__explain__title {
  text-align: center;
  margin-bottom: 20px;
}

.p-top-skills__explain__text {
  text-align: left;
  line-height: 30px;
}

/*
  p-top-production
---------------------------------------------------- */

.p-top-production__title {
  @include section_title;
}

.p-top-production__titleWord {
  @include section_title_word;
}

.p-top-production__text {
  @include section_text;
}

.p-top-production__text__link {
  color: $colorLinkBlue;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

.p-top-production__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.p-top-production__itemList {
  position:relative;
  width: 30%;

  &:last-child {
    margin-right: 0;
    margin-top: 30px;
  }

  @include mq(u-sp) {
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.p-top-production__itemList__img {
  border: $colorBdGray;

  &:hover {
    transform: scale(1.05);
    transition: 0.5s;
    border: $colorBdLightGreen;
  }
}

.p-top-production__itemList__text {
  text-align: center;
  font-size: $fontLetterSmall;
  margin-top: 10px;
}

/* .p-top-production__detailList */

.p-top-production__detailList {
  width: 90%;
  margin: 0 auto;
  background-color: $colorWhite;
  border: $colorBdLightGreen;
  border-radius: 20px;
  padding: 30px 50px;
  position: fixed;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: none;

  @include mq(u-sp) {
    padding: 20px;
  }
}

// ×アイコンブロック
.p-top-production__detailList__crossIcon {
  color: $colorWhite;
  font-size: $fontSemiTitle;
  position: absolute;
  top: -30px;
  right: -30px;
  height: 60px;
  width: 60px;
  background-color: $colorLightBlack;
  border-radius: 50%;
  display: flex;
  align-items: center;

  &:hover > .crossIcon {
    transform: rotateZ(180deg) ;
  }
}

.crossIcon {
  transition: .5s;
  transform: rotateZ(0deg);
  margin: 0 auto;
}

.show {
  display: block;
}

.p-top-production__detailList__title {
  font-size: $fontSemiTitle;
  text-align: center;
  margin-bottom: 30px;

  @include mq(u-pc) {
    font-size: $fontLetterMiddle;
  }
}

.p-top-production__detailList__exp {
  display: flex;

  @include mq(u-sp) {
    flex-direction: column;
  }
}

.p-top-production__detailList__expHeading {
  width: 80%;

  @include mq(u-sp) {
    display: flex;
    width: 100%;
  }
}

.p-top-production__detailList__expImg {
  margin-bottom: 20px;

  @include mq(u-sp) {
    width: 30%;
    height: 35%;
    margin-right: 20px;
  }
}

.p-top-production__detailList__info {
  width: 100%;
}

.p-top-production__detailList__infoTitle {
  font-size: $fontLetterSmall;


}

.p-top-production__detailList__infoText {
  font-size: $fontLetterVerySmall;

  &:not(last-child) {
    margin-bottom: 20px;

    @include mq(u-sp) {
      margin-bottom: 5px;
    }
  }
}

.p-top-production__detailList__expSentence {
  width: 100%;
  margin: 0 100px;

  @include mq(u-pc) {
    margin: 0 50px;
  }

  @include mq(u-sp) {
    margin: 20px 0 0;
  }
}

.p-top-production__detailList__expText {
  display: block;
  font-size: $fontLetterSmall;
  line-height: 30px;
  margin-bottom: 30px;

  @include mq(u-sp) {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: normal;
  }
}

.p-top-production__detailList__Url {
  align-items: flex-end;
}

.p-top-production__detailList__urlTitle {
  font-size: $fontLetterVerySmall;
}

.p-top-production__detailList__urlText {
  &:nth-of-type(1) {
    margin-bottom: 10px;
  }
}
.p-top-production__detailList__urlLink {
  color: $colorLinkBlue;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

/*
  p-top-canDo
---------------------------------------------------- */

.p-top-canDo__title {
  @include section_title;
}

.p-top-canDo__titleWord {
  @include section_title_word;
}

.p-top-canDo__text {
  @include section_text;
}

.p-top-canDo__works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mq(u-pc) {
    flex-direction: column;
  }
}

.p-top-canDo__work {
  display: flex;
  flex-direction: column; //縦に並べる
  align-items: center;
  width: 48%;
  padding: 50px;
  background-color: $colorWhite;
  margin-bottom: 20px;
  border: $colorBdGray;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(u-pc) {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.p-top-canDo__workIcon {
  width: 100px;
  height: 100px;
  object-fit: contain; // 画像比率保つ
  margin-bottom: 20px;

  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}

.p-top-canDo__workTitle {
  font-size: $fontSemiTitle;
  margin-bottom: 30px;

  @include mq(u-pc) {
    font-size: $fontLetterMiddle;
  }
}

.p-top-canDo__workText {
  font-size: $fontLetterMiddle;
  margin-bottom: auto; // display: flex;との組み合わせで、boxの高さ揃える

  @include mq(u-pc) {
    font-size: $fontLetterSmall;
  }
}

/*
  p-top-contact
---------------------------------------------------- */

.p-top-contact__title {
  @include section_title;
}

.p-top-contact__titleWord {
  @include section_title_word;
}

.p-top-contact__text {
  @include section_text;
}

.p-top-contact__block {
  display: flex;
  flex-direction: column;
}

// @mixin contact_form
@mixin contact_form($bd_radi, $height, $width, $fs) {
  border-radius: $bd_radi;
  height: $height;
  width: $width;
	padding: 10px;
  margin: 0 auto;
  font-size: $fs;
  background-color: $colorLightBlack;
  color: $colorWhite;

  &::placeholder {
    color: $colorWhite;
  }
}

.p-top-contact__form {
  @include contact_form($bd_radi: 5px, $height: 50px, $width: 80%, $fs: $fontLetterSmall);

  margin-bottom: 20px;
}

.p-top-contact__inquiry {
  @include contact_form($bd_radi: 5px, $height: 150px, $width: 80%, $fs: $fontLetterSmall);

  margin-bottom: 20px;
}

.p-top-contact__btn {
  @include contact_form($bd_radi: 30px, $height: 50px, $width: 40%, $fs: $fontLetterMiddle);

  background-color: $colorFooterIconBg;
  color: $colorWhite;
  text-align: center;

  &:hover {
    background-color: $colorIconHover;
    transform:scale(1.02);
    transition:0.7s;
  }

  @include mq(u-pc) {
    width: 80%;
  }
}